* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 100%;
}

body {
  background: #f5f8fa;
  font-family: Apple-System, Arial, Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", STXihei, sans-serif;
  font-size: 14px;
  line-height: 1.42;
}

.stackarray {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-items: center;
  gap: 10px;
}