@import '../_global.scss';

.controlicon {
  width: 30px;
  font-size: 31px;
  margin-left: 550px;
}

.stack2 {
  margin-top: 5%;
  color: $stackcolor;
}

.chartcontainer {
  display: flex;
}

.item2 {
  margin-left: 200px;
}

.bgbox2 {
  background-image: url(/assets/images/uv.svg);
}
