$bodybg: #f5f8fa;
$stackcolor: #fff;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

body {
  background: $bodybg;
  font-family: Apple-System, Arial, Helvetica, 'PingFang SC', 'Hiragino Sans GB',
    'Microsoft YaHei', STXihei, sans-serif;
  font-size: 14px;
  line-height: 1.42;
}

@mixin stackcontainer {
  white-space: nowrap;
  background-repeat: no-repeat;
  background-size: cover;
  background-size: 100px;
  background-position: left;
  padding: 10px 15px 10px;
}
