@import '../_global.scss';

.stackvertical {
  display: flex;
  place-items: center;
  gap: 30px;
  flex-direction: column;
  margin-right: 50px;
  border-radius: 8px !important;
  box-shadow: none !important;
}
