* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 100%;
}

body {
  background: #f5f8fa;
  font-family: Apple-System, Arial, Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", STXihei, sans-serif;
  font-size: 14px;
  line-height: 1.42;
}

.box {
  background-image: url(/assets/images/pv.svg);
  white-space: nowrap;
  background-repeat: no-repeat;
  background-size: cover;
  background-size: 100px;
  background-position: left;
  padding: 20px 135px 20px 0;
  white-space: nowrap;
  background-repeat: no-repeat;
  background-size: cover;
  background-size: 100px;
  background-position: left;
}