@import '../_global.scss';

.stack {
  margin-top: 20px;
  cursor: pointer;
}

.itembox1 {
  background: linear-gradient(87deg, #f5365c 0, #f56036 100%);
}

.itembox2 {
  background: linear-gradient(87deg, #2dce89 0, #2dcecc 100%);
}

.itembox3 {
  background: linear-gradient(87deg, #11cdef 0, #1171ef 100%);
}

.itembox1,
.itembox2,
.itembox3 {
  box-shadow: none;
  border-radius: 8px !important;
  overflow: hidden;
}
